/* Global Variables, Reset, Body */

:root {
    --content-max-width: 1280px;
    --content-padding: 2rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #111;
}

/* Header */

.header {
    color: white;
    background-color: #222;

    background: linear-gradient(rgba(0, 0, 0, 0.25), black), url('../img/header.jpg');
    background-size: cover;
    background-position: center 70%;
}

.header__inner {
    max-width: var(--content-max-width);
    padding: var(--content-padding);
    margin: auto;
}

.header__name {
    font-size: 1.5rem;
}

.header__headline {
    margin-top: 1em;
    font-size: 3.5rem;
}

.header__paragraph {
    max-width: 800px;
    margin-top: 0.5em;

    font-size: 1.2rem;
    line-height: 150%;

    color: rgba(255, 255, 255, 0.8);
}

.header__details {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.header__details-heading {
    font-size: 1.1rem;
}

.header__detail {
    margin-top: 0.5em;

    font-size: 1.05em;

    color: rgba(255, 255, 255, 0.8);
}

/* Gallery */

.gallery {
    --margin: 1rem;
    background-color: #fafafa;
}

.gallery__inner {
    max-width: var(--content-max-width);
    padding: var(--content-padding);
    margin: auto;

    font-size: 0;
}

.gallery__collection {
    display: inline-block;
    width: calc((100% - var(--margin) * 2) / 3);
    vertical-align: top;
}

.gallery__collection:first-of-type {
    margin-right: var(--margin);
}

.gallery__collection:last-of-type {
    margin-left: var(--margin);
}

.gallery__image {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    margin-top: var(--margin);

    background-color: #fafafa;
}

.gallery__image:first-of-type {
    margin-top: 0;
}

.gallery__collection-divide--small {
    display: inline-block;
    width: calc(50% - var(--margin) * 0.5);
}

.gallery__collection-divide--small:first-of-type {
    margin-right: var(--margin);
}

/* IMAGES */

.gallery__image {
    background-size: cover;
    background-position: center;
}

.gallery__image--1 {
    background-image: url('../img/car_1.jpg');
}

.gallery__image--2 {
    background-image: url('../img/car_2.jpg');
}

.gallery__image--3 {
    background-image: url('../img/car_3.jpg');
}

.gallery__image--4 {
    background-image: url('../img/car_4.jpg');
}

.gallery__image--5 {
    background-image: url('../img/car_5.jpg');
}

.gallery__image--6 {
    background-image: url('../img/car_6.jpg');
}

.gallery__image--7 {
    background-image: url('../img/car_7.jpg');
}

.gallery__image--8 {
    background-image: url('../img/car_8.jpg');
}

.gallery__image--9 {
    background-image: url('../img/car_9.jpg');
}

.gallery__image--10 {
    background-image: url('../img/car_10.jpg');
}

.gallery__image--11 {
    background-image: url('../img/car_11.jpg');
}

.gallery__image--12 {
    background-image: url('../img/car_12.jpg');
}

/* Footer */

.footer {
    color: white;
    background-color: #222;
}

.footer__inner {
    max-width: var(--content-max-width);
    padding: calc(var(--content-padding) * 2) var(--content-padding);
    margin: auto;

    text-align: center;
}

.footer__cta {
    margin-bottom: 0.75rem;
    font-size: 1.1rem;
}

.footer__social-link {
    margin: 0.5rem;

    text-decoration: none;

    color: rgba(255, 255, 255, 0.75);
}

/* Media Queries */

@media (max-width: 720px) {
    .header__headline {
        font-size: 2.75rem;
    }

    .header__paragraph {
        font-size: 1.1rem;
    }

    .gallery__collection {
        width: 100%;
        margin-top: var(--margin);
    }

    .gallery__collection:first-of-type {
        margin-top: 0;
    }

    .gallery__collection:last-of-type {
        margin-left: 0;
        margin-bottom: 0;
    }
}